body {
    padding: 0%;
    margin: 0%;
}

.mainContent {
    background-color: rgb(223, 216, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    /* position: relative;  */
    height: 100vh;
    background-color: rgb(255, 241, 222);
    padding-top:1450px;
    padding-bottom: 1450px;
    min-width: 300px; 
}

.notOrder {
    display: flex;
    flex-direction: column;
    flex-grow: 10;

}

.redSpan {
    background-color: red;
    color: white;
    border-radius: 20%;
    padding: 5px 5px;
    font-size: 15px;
    position: absolute;
    top: 90px;
    right: 310px;
    z-index: 2;
}

.all {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: rgb(255, 241, 222);
    width: 100%;
}

.downBage {
    position: fixed;
    bottom: 0em;
    left: 3em;
    max-width: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1em;
}

.upperBage {
    position: fixed;
    top: 0em;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1em;
    max-height: 40px;
    z-index: 4;
}

.bage {
    background-color: orange;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    left: 1em;
}

.header {
    position: sticky;/* ось */
    top: 0;
    left: 0;
    right: 0;
    /* width: 44.5em; */
    background-color: #4a4a4a;
    color: rgb(186, 182, 182);
    padding: 0.5em;
    z-index: 3;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
}

.upperHeaderPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerTextUpper,
.headerPizza {
    margin-left: 7em;

}

.headerTextUpper span {
    margin-right: 1em;
}

.phoneNumber {
    font-weight: bold;
}

.enterButton {
    margin-right: 1em;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0em;
    /*Відступ від верхнього заголовка*/
    background-color: white;
    height: 100px;
}

.pizzaInfo {
    display: flex;
    flex-direction: row;
    
}

.downPizzaInfo,
.upPizzaInfo,
.subPizzaInfo,
.pizza,
.downSectionOrderSection {
    display: flex;
    flex-direction: column;
}



.order {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    overflow: hidden;
    padding-right: 50%;
    margin-top: 1em;

}

.order img {
    position: absolute;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    /* max-width: none; */
}

.screamer {
    position: fixed;
    bottom: 10em;
    right: 0.01em;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;
}

.screamer img {
    width: 100%;
    height: auto;
    display: block;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    font-size: 14px;
}

.orderSection {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-between; */
    /* height: 100vh; */
    /* padding: 0%; */

    box-sizing: border-box;
    max-width: 400px;
    background-color: white;
    flex-grow: 1;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-width: 300px;
    position: relative;

    /* overflow-y: scroll; */


}

.upperBage {
    height: 74px;
}

.leftDownTrianleBage {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 30px solid orange;
    position: absolute;
    top: -50%;
    left: 17%;
    transform: translate(-26%, 88%);
}

.pizza{
    margin-bottom: 20px;
}

.rightDownTrianleBage {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 30px solid orange;
    position: absolute;
    top: -50%;
    left: 52%;
    transform: translate(-26%, 88%);
}

.rightUpTrianleBage {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    border-top: 30px solid orange;
    /* Змінено з border-bottom на border-top */
    position: absolute;
    top: 60%;
    left: 37%;
    transform: translate(-26%, 88%);
}

.leftUpTrianleBage {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid orange;
    position: absolute;
    top: 61%;
    left: 21%;
    transform: translate(-26%, 88%);
}

.orders {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    /* position: fixed; */
    width: 300px;
}

.priceAndButtons {
    display: flex;
    flex-direction: row;
}

.orangeCircleSpan {
    background-color: orange;
    border-radius: 50%;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 0.2em;
    color: white;
}

.navButtons button {
    background-color: transparent;
    border: 0%;
    border-color: transparent;
    color: rgb(255, 167, 3);
    font-weight: bold;
    border-radius: 1em;
}

.navButtons button:hover {
    background-color: rgb(255, 166, 0);
    color: white;
}

.roundB {
    border-radius: 50%;
    padding: 0.6em 1em;
    border-style: outset;
    color: white;
    font-weight: bold;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.buttonPlus {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

.buttonMinus {
    background-color: red;
    border-color: red;
}

.buttonX {
    border-color: rgb(185, 181, 181);
    color: orange;
    margin-left: 0.4em;
}

.orangeButton {
    /* background-color: orange; */
    background: linear-gradient(45deg, orange, rgb(234, 129, 0));

    color: white;
    border-color: rgb(234, 129, 0);
    border-radius: 0.5em;
}

.productList{

    display: block;

    /* display: flex;
    flex-direction: row; */
    /* flex-wrap: wrap; */

    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Автоматичне заповнення колонками мінімальної ширини 200px */
    /*gap: 10px; */
}

.totalSum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.downSectionOrderSection {
    padding-left: 2em;
    /* padding-right: 0.5em; */
    position: fixed;
    bottom: 0em;

    /* margin-left: 2em; */

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    background-color: white;
}

.money {
    margin-left: 1em;
}

.pizza {
    background-color: white;
    padding: 1em;
    max-width: 15em;
    margin-left: 1em;
    /* display: inline-block; */

}

.pizza img {
    width: 15em;
}

.pizzaInfo {
    display: flex;
    flex-direction: row;
    justify-content: center; /*було спейс бітвін тут*/
    /* padding-right: 3em; */
}

.subPizzaInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.downPizzaInfo {
    margin-top: 1em;
}

.graySpan {
    color: gray;
}

.cleanOrderButton {
    background-color: transparent;
    border-width: 0px;
    color: grey;
    padding: 0%;
}
.cleanOrderButton:hover{
color: rgb(80, 79, 79);
}

.orderTextSpan {
    margin-top: 10px;
}

.orderButton {
    margin: 1em;
    padding: 0.5em;
}

.orangeButton:hover {
    background-color: rgba(255, 166, 0, 0.649);
}

.headerPizza {
    color: white;
}

.pizzaNameOrder {
    color: orange;
}

.upperSectionOrderSection {
    position: sticky;
    top: 1em;
    left: 0;
    right: 0;
}

.priceOfOne {
    padding: 0%;
    margin: 0%;
}

.buyOnePizza {

    margin-top: 3em;
    padding: 0.5em;
}

.subPizzaInfo,
.downPizzaInfo {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1em;

}

.pizzaIngredients{
    height: 100px;
}

.productList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.hide{
    display: none;
}



@media (max-width: 1481px){

    .mainContent{
        padding-top: 2200px;
        padding-bottom: 2200px;

        justify-content: center;
        display: flex;
        flex-direction: column;
    } 
}

@media (max-width: 1172px){

    .mainContent{
        padding-top: 2900px;
        padding-bottom: 2900px;

        justify-content: center;
        display: flex;
        flex-direction: column;
    }

  

}

@media (max-width: 1048px){

    .mainContent{
        padding-top: 5750px;
        padding-bottom: 5750px;

        justify-content: center;
        display: flex;
        flex-direction: column;
    }

   

}

/* to bigger 1000 1010 */
@media (max-width: 1003px) {

    

    /* .roundB {
        border-radius: 50%;
        padding: 0em 1em;

    }

    .buttonPlus {
        padding: 0.7em 1em;
    }

    .buttonMinus {
        padding: 0em 1.1em;
        background-color: aqua;
       
    } */

    .headerInfo{
        display: none;
    }

    .downSectionOrderSection{
        padding-left: 2em;
    }

    /* .buttonMinus {
        background-color: aqua;
       
    } */

}

@media (max-width: 1412px) {
    .notOrder {

        flex-grow: 2;
    }
}

@media (max-width: 1095px) {
    .notOrder {
        flex-grow: 1;

    }
    
    /* .navigation{
        display: none;
    } */

    .mainContent{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .productList{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 618px) {
    /* .buttonMinus {

        background-color: aqua;
    }

    .roundB {
        border-radius: 100%;
        padding: 0em 0.6em;

    }

    .buttonPlus {
        padding: 0em 0.6em;
    }

    .buttonMinus {
        padding: 0em 0.7em;
    } */

    .buttonMinus{
        /* background-color: aqua; */
    }
    .headerPizza{
        display: none;
    }
}